@import url("https://fonts.googleapis.com/css2?family=Bungee+Spice&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@300;400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

:root {
  --BungeeSpice: "Bungee Spice", sans-serif;
  --Barlow: "Barlow", sans-serif;
}

h1,
h2,
h3,
p,
a,
button,
div,
img {
  padding: 0;
  margin: 0;
}

body {
  background: linear-gradient(
    to right,
    #365486,
    #2d4271,
    #23305c,
    #192048,
    #0f1035
  );
  height: 100vh;
}

.main-box {
  justify-content: center;
  text-align: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}

#counter {
  font-family: var(--BungeeSpice);
  font-weight: 400;
  font-size: 75px;
}

.increase {
  background: linear-gradient(
    to right,
    #92c7cf,
    #98cbd1,
    #9ecfd4,
    #a4d3d6,
    #aad7d9
  );
  font-family: var(--Barlow);
  font-weight: 700;
  font-size: 25px;
  height: 40px;
  width: 163px;
  border: 0;
  color: #092635;
  text-transform: uppercase;
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
  padding: 5px 10px;
  cursor: pointer;
}

.increase:hover {
  background: #6de9f7;
}

.increase:hover .fa-circle-up {
  color: rgb(0, 110, 255);
}

.decrease {
  background: linear-gradient(
    to right,
    #5f0f40,
    #6d0036,
    #780029,
    #7f0019,
    #820300
  );
  font-family: var(--Barlow);
  font-weight: 700;
  font-size: 25px;
  height: 40px;
  width: 175px;
  border: 0;
  color: #ff9800;
  text-transform: uppercase;
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
  padding: 5px 10px;
  cursor: pointer;
}

.decrease:hover {
  background: #5f0f40;
}

.decrease:hover .fa-circle-down {
  color: #f17500;
}

.fa-circle-up {
  color: #f17500;
  font-size: 22px;
  padding-right: 5px;
}

.fa-circle-down {
  color: #fff;
  font-size: 22px;
  padding-right: 5px;
}

.reset {
  height: 40px;
  width: 150px;
  font-size: 25px;
  font-family: var(--Barlow);
  font-weight: 700;
  border: 0;
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
  text-transform: uppercase;
  background: linear-gradient(
    to right,
    #87c4ff,
    #77bdff,
    #66b6ff,
    #52aeff,
    #39a7ff
  );
  color: #6b240c;
  padding: 5px 10px;
  cursor: pointer;
}

.reset:hover {
  background: #39a7ff;
}

.reset:hover .fa-repeat {
  color: red;
}

.fa-repeat {
  color: #fff;
  font-size: 22px;
  padding-left: 5px;
}

.button {
  display: flex;
  column-gap: 10px;
}
